@using EventAttic.Models
@model Organiser

@{
    ViewData["Title"] = "Create New Organiser";
}

<div class="row text">
    <div class="row">
        <div class="col-md-8 offset-2" style="padding-bottom:50px;">
            <h1 class="text-white">Create New Organiser</h1>
            <form asp-action="Create" method="post">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" class="" style="width:200px;height:200px;" />
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePictureURL" class="control-label text-white"></label>
                    <input asp-for="ProfilePictureURL" class="form-control"/>
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="EventOrganiserName" class="control-label text-white"></label>
                    <input asp-for="EventOrganiserName" class="form-control"/>
                    <span asp-validation-for="EventOrganiserName" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="InstaLink" class="control-label  text-white"></label>
                    <input asp-for="InstaLink" class="form-control" />
                    <span asp-validation-for="InstaLink" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TwitterLink" class="control-label  text-white"></label>
                    <input asp-for="TwitterLink" class="form-control" />
                    <span asp-validation-for="TwitterLink" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Bio" class="control-label text-white"></label>
                    <textarea asp-for="Bio" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>


                <div class="form-group" style="margin-top:20px;">
                        <a class="btn btn-outline-secondary" asp-action="Index">Back To List</a>
                        <!--<button type="submit"  class="btn btn-outline-success float-right">Create</button>-->
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />

                </div>


            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
       $(document).ready(function (){
            var output = document.getElementById("ProfilePicturePreview");
            output.src = $(this).val();
       })

        $("#ProfilePictureURL").on("change", function () {
            var output = document.getElementById("ProfilePicturePreview");
            output.src = $(this).val();
        })
    </script>
}