@using EventAttic.Models
@model Artist

@{
    ViewData["Title"] = "Create New Artist";
}

<div class="row text">
    <div class="row">
        <div class="col-md-8 offset-2">
            <h1 class="text-white">Create New Artist</h1>
            <form method="post" style="padding-bottom:100px;">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" class="" style="width:200px;height:200px;" />
                </div>

                <div class="form-group">
                    <label asp-for="ProfilePictureURL" class="control-label text-white"></label>
                    <input asp-for="ProfilePictureURL" class="form-control"/>
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StagePictureURL" class="control-label text-white"></label>
                    <input asp-for="StagePictureURL" class="form-control" />
                    <span asp-validation-for="StagePictureURL" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ArtistName" class="control-label text-white"></label>
                    <input asp-for="ArtistName" class="form-control"/>
                    <span asp-validation-for="ArtistName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SpotifyPlayList" class="control-label text-white"></label>
                    <input asp-for="SpotifyPlayList" class="form-control" />
                    <span asp-validation-for="SpotifyPlayList" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="InstaLink" class="control-label text-white"></label>
                    <input asp-for="InstaLink" class="form-control"/>
                    <span asp-validation-for="InstaLink" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TwitterLink" class="control-label text-white"></label>
                    <input asp-for="TwitterLink" class="form-control" />
                    <span asp-validation-for="TwitterLink" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Bio" class="control-label text-white"></label>
                    <textarea asp-for="Bio" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top:20px;">
                    <a class="btn btn-outline-secondary" asp-action="Index">Back To List</a>
                    <!--<button type="submit"  class="btn btn-outline-success float-right">Create</button>-->
                    <input type="submit" value="Create" class="btn btn-outline-success float-right" />

                </div>


            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        //$(document).ready(function () {
        //    var output = document.getElementById("ProfilePicturePreview");
        //    output.src = $(this).val();
        //})

        //$("#ProfilePictureURL").on("change", function () {
        //    var output = document.getElementById("ProfilePicturePreview");
        //    output.src = $(this).val();
        //})
        $(document).ready(function (){
            var output = document.getElementById("ProfilePicturePreview");
            output.src = $(this).val();
       })

        $("#ProfilePictureURL").on("change", function () {
            var output = document.getElementById("ProfilePicturePreview");
            output.src = $(this).val();
        })
    </script>
}