<div class="row" style="padding-bottom:550px;">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2 class="text-black">Yor account was created successfully</h2>
        <p class="text-black">You can now log in to your account using your account detaials</p>
        <hr />
        <p class="text-black">Thank you</p>
    </div>
</div>